html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapid {
    height: 100%;
}

button {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    height: 100%;
}

.column {
    flex: 1;
    padding: 20px;
}

.left {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.right {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
